html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Permite scrollbars cuando el contenido excede el tamaño de la pantalla */
}

/* Opcional: Estilos para el texto de los enlaces para que no aparezcan subrayados */
a {
  text-decoration: none;
  color: inherit;
}