:root {
  --theme-primary: #F40009;
  --theme-primary-dark: #c00007;
  --theme-bg-default: #111111;
  --theme-text-primary: #FFFFFF;
}

* {
  border-radius: 0 !important;
  box-shadow: none !important;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-default);
  color: var(--theme-text-primary);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--theme-primary);
}

a:hover {
  color: var(--theme-primary-dark);
}